# Self
bin/
packages/
release/
test/bin/
vendor/
dist/
output/
.idea/

conf/robot-server/robot-server
conf/robot-client/robot-client
conf/robot-pong/robot-pong

# Cache
*~
*.un~
*.swp
latest_log
*.log

