common:
  bind: 0.0.0.0
  port: 7080
  loops: 0

log:
  dir: log
  level: debug
  filename: server.log

tasks:
  folder: autos
  output: .
  autos:
    -
      config: x1.yaml
      matches:
        -
          key: client_id
          match: TRTX01.+
    -
      config: x3.yaml
      matches:
        -
          key: client_id
          match: TRTX03.+
    -
      config: s1.yaml
      matches:
        -
          key: client_id
          match: TRTS01.+
    -
      config: k1.yaml
      matches:
        -
          key: client_id
          match: TRTK01.+
